@import "normalize.css";
*{
  margin: 0;
  padding: 0;
  text-align: center;
}


.header{
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0;
  width: 100%;
  z-index:999;
  background-color: #068772;
}

.body{
  text-align: center;
  background: linear-gradient(180deg, rgba(65,204,181,1) 38%, rgba(95,133,196,1) 83%);
  height: 100%;
  overflow: auto;
}

.container{
  height: 100vh;
  width: 100%;
}

.page-name{
  width: 20%;
  display: flex;
  font-size: 20px;
  color:#000;
  text-align: center;
  vertical-align: middle;
  margin-left: 5%;
  font-weight: bold; 
}

.contact-option{
  width: 50%;
  height: 100%;
}

.menu{
  padding: 20px 30px;
  background-color: #068772;
  width: 25%;
  height: 100%;
}

.option{
  color:#000;
  text-decoration: none;
  font-size: 16px;
  margin-right: 20px;
  vertical-align: middle;
  background-color: 068772;
  border-radius: 10px;
  padding: 5.4%;
  height: 100%;
  font-weight: bold;
}

.option:hover{
  cursor: pointer;
  background-color: #1c9e70;
  transition: all 0.4s ease-in-out;
}

.link{
  color:#000;
  text-decoration: none;
}

.main-content{
  margin: 15% auto;
  max-width: 70%;
  padding: 2em;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,.1), 0 10px
  10px rgba(0,0,0,.1);
  transition: all .3s ease-out;
  animation: fadeInUp .5s ease-out forwards;
}

.main-content-list{
  margin:auto;
  max-width: 70%;
  padding: 2em 5em 2em 5em;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,.1), 0 10px
  10px rgba(0,0,0,.1);
  transition: all .3s ease-out;
  animation: fadeInUp .5s ease-out forwards;
}

.body-list{
  padding: 5%;;
  text-align: center;
  background: linear-gradient(180deg, rgba(65,204,181,1) 38%, rgba(95,133,196,1) 83%);
  height: 79.3vh;
  overflow: auto;

}

.control{
  display: flex;  
  justify-content: center;
  align-items:center;
  margin-bottom: 2rem;
}

.forget{
  position: absolute;
  right: 7%;
  font-weight: bold;
}

.forget:hover{
  color: #068772 !important;
}

.input-box{
  width: 100%;
  font-size: 1.2rem;
  padding: 1rem;
  color:#000;
  outline: none;
  border:none;
  border-bottom: 2px solid #000;
  background: transparent;
}

@keyframes fadeInUp {
  from {transform: translateY(-50px); opacity: 0;}
  to {opacity: 1; transform: translateY(0);}
}

.btn{
  font-size: 1.2rem;
  cursor: pointer;
  outline: none;
  user-select:none;
  -webkit-user-drag: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  color:#000;
  background-color: #068772;
  padding: 0.4em 2em;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,.1), 0 10px  10px rgba(0,0,0,.1);
  transition: all .3s ease-in-out;
}
.btn:hover{
  transform: scale(1.1);
  opacity: .8;
}

.status{
  margin-top: 4%;
  text-align: center;
  color: #000;
  font-weight: bold;
  font-size: 0.8rem;
  transform: translateY(-20%);
  transition: all .3s ease-in-out;
}

.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #5f85c4;
  color: #000;
  padding: 1% 0 1% 0;
  vertical-align: middle;
}

// Sign-in

.sign-up-container{
  width: 70%;
  padding: 5%;
  background-color: #5f85c4;
  justify-content: center;
  display: flex;
}

.input-area{
  background-color: antiquewhite;
  justify-content: center;
  width: 90%;
  align-items: center;
  flex-wrap: wrap;
}

.not-sign-up{
  display: flex;  
  justify-content: space-between;
  align-items:center;
  margin-bottom: 2rem;
}

.choice{
  text-decoration: none;
  color: #000;
  font-weight: bolder;
}

.choice:hover{
  color: #068772;
}

// Head css

.head-popup{
  justify-content: center;
  font-size: 2em;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 3px;
  text-shadow: 2px 2px 5px rgba(0,0,0,.5);
  width: 5%;
  padding: 0.5% 1%;
  background-color: #F8DAD0;
  position: absolute;
  right: 4%;
  top: 100%;
}

.head-option{
  color:#000;
  text-decoration: none;
  font-size: 16px;
  margin-right: 20px;
  vertical-align: middle;
  background-color: #F8DAD0;
  height: 100%;
  font-weight: bold;
}

.head-option:hover{
  cursor: pointer;
}


// profile css

.control-profile{
  display: flex;
  align-items: center;
  justify-content: space-around;  
  padding: 5% 0;
}

.show-box{
  width: 40%;
  border-radius: 5px;
  overflow: hidden;
  display: block;
}

.input-show{  
  margin-top: 5%;
  background-color: transparent;
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  border-bottom: solid 1px #ccc;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}


// Category popup css

.category-popup{
  position: fixed;
  top: 8%;
  left: 10%;
  right: 0;
  bottom: 0;
  height: 92%;
  width: 80%;
  background-color: #F8DAD0;
  color: black;
  z-index: 9999;
  transition: all .3s ease-out;
  animation: fadeInDown .3s ease-out forwards;
}

@keyframes fadeInDown {
  from {transform: translateY(50px); opacity: 0;}
  to {opacity: 1; transform: translateY(0);}
}

.dropdown-content{
  padding: 2%;
}

.dropdown-content{
  border-bottom: 1px solid #068772;
}

.dropdown-content:hover{
  background-color: #71d5b2;
  transition: all .4s ease-out;
}

// All product css

.all-product{
  display: flex;
  flex-wrap: wrap;
}

.product-card{
  width: 25%;
  margin: 2% 1%;
  text-decoration: none;
  color: #000;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  padding: 3% ;
  transition: all .3s ease-in-out;
}

.product-img{
  background-color: #F8DAD0;

}

.product-infor{
  font-size: 1rem;
  line-height: 1.5em;
  margin-top: 10%;
}

.filter-product{
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  background: none;
  padding: 1%;
  margin-top: 1%;
  border-radius: 10px;
}

.filter-option{
  background-color: #F8DAD0;
}

.product-detail-container{
  width: 90%;
  height: 50%;
  margin-top: 100px;
  margin-left: 2%;
  text-decoration: none;
  color: #000;
  box-shadow: 0 0 20px rgba(0,0,0,.1);
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;
 
  padding: 3% ;
  display: flex;
  transition: all .3s ease-in-out;
  .product-image{
    width: 50%;
    img{
      width: 100%;
      height: auto; 
      object-fit: contain;
    }
  }
  .border-left{
      border-left: 1px solid black ;
  }
  .fa-star {
    color: #ffcc00;
  }
  .product-content{
    font-size: 20px;
    text-align: left;
    .button-cart, table{
      margin-top: 2%;
      padding: 10px;
    }
    p{
      span{
        margin-right: 10px;
      }
    }
    h1{
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 5%;
      font-size: 30px;
      background-color: rgb(152, 216, 205);
      border-radius: 20px;
      width: fit-content;
      padding: 5px 20px 5px 20px;
    }
    h2, p, h1, input {
      text-align: left;
    }
  }
}