@import "normalize.css";
*{
  margin: 0;
  padding: 0;
  text-align: center;
}


.header{
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0;
  width: 100%;
  z-index:999;
  background-color: #000;
}

.body{
  text-align: center;
  background-color: #18191a;
  height: 100vh;
  overflow: auto;
}

.container{
  min-height: 100vh;
  width: 100%;
}

.page-name{
  width: 20%;
  display: flex;
  font-size: 20px;
  color:#000;
  text-align: center;
  vertical-align: middle;
  margin-left: 5%;
  font-weight: bold; 
}

.contact-option{
  width: 50%;
  height: 100%;
}

.menu{
  padding: 20px 30px;
  background-color: #000;
  width: 40%;
  height: 100%;
}

.option{
  color:#fff;
  text-decoration: none;
  font-size: 16px;
  margin-right: 20px;
  vertical-align: middle;
  background-color: 068772;
  border-radius: 10px;
  padding: 5%;
  height: 100%;
  font-weight: bold;
}

.option:hover{
  cursor: pointer;
  background-color: rgb(114, 114, 114);
  transition: all 0.4s ease-in-out;
}

.option-cart{
  color:#fff;
  text-decoration: none;
  font-size: 16px;
  margin-right: 20px;
  vertical-align: middle;
  background-color: 068772;
  border-radius: 10px;
  padding: 5%;
  height: 100%;
  font-weight: bold;
}

.link{
  color:#000;
  text-decoration: none;
}

.main-content{
  margin: 15% auto;
  max-width: 70%;
  padding: 2em;
  border-radius: 20px;
  background-color: #caced6;
  box-shadow: 0 0 10px rgba(0,0,0,.7), 0 10px
  10px rgba(0,0,0,.1);
  transition: all .3s ease-out;
  animation: fadeInUp .5s ease-out forwards;
}

.main-content-list{
  margin:auto;
  max-width: 70%;
  padding: 2em 5em 2em 5em;
  background-color: #CACED6;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,.7), 0 10px
  10px rgba(0,0,0,.1);
  transition: all .3s ease-out;
  animation: fadeInUp .5s ease-out forwards;
}

.body-list{
  padding: 7% 0;
  background-color: #18191A;
  text-align: center;
  min-height: 100vh;
  overflow: auto;
}

.control{
  display: flex;  
  justify-content: center;
  align-items:center;
  margin-bottom: 2rem;
}

.forget{
  position: absolute;
  right: 7%;
  font-weight: bold;
}

.forget:hover{
  color: #068772 !important;
}

.input-box{
  width: 100%;
  font-size: 1.2rem;
  padding: 1rem;
  color:#000;
  outline: none;
  border:none;
  border-bottom: 2px solid #000;
  background: transparent;
}

@keyframes fadeInUp {
  from {transform: translateY(-50px); opacity: 0;}
  to {opacity: 1; transform: translateY(0);}
}

.btn{
  font-size: 1.2rem;
  cursor: pointer;
  outline: none;
  user-select:none;
  -webkit-user-drag: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  color:#000;
  background-color: rgb(211, 205, 205);
  padding: 0.4em 2em;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,.1), 0 10px  10px rgba(0,0,0,.1);
  transition: all .3s ease-in-out;
}
.btn:hover{
  transform: scale(1.1);
  opacity: .8;
  font-weight: bolder;
}

.status{
  margin-top: 4%;
  text-align: center;
  color: #000;
  font-weight: bold;
  font-size: 0.8rem;
  transform: translateY(-20%);
  transition: all .3s ease-in-out;
}

.footer{
  width: 100%;
  background-color: #000;
  color: #fff;
  padding: 1% 0 1% 0;
  vertical-align: middle;
}

// Home CSS



// Sign-in

.sign-up-container{
  width: 70%;
  padding: 5%;
  background-color: #5f85c4;
  justify-content: center;
  display: flex;
}

.input-area{
  background-color: antiquewhite;
  justify-content: center;
  width: 90%;
  align-items: center;
  flex-wrap: wrap;
}

.not-sign-up{
  display: flex;  
  justify-content: space-between;
  align-items:center;
  margin-bottom: 2rem;
}

.choice{
  text-decoration: none;
  color: #000;
  font-weight: bolder;
}

.choice:hover{
  color: #068772;
}

// Head css

.head-popup{
  justify-content: center;
  font-size: 2em;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 3px;
  width: 7%;
  height: fit-content;
  background-color: rgb(239, 234, 234);
  position: absolute;
  right: 14%;
  top: 95%;
  border-radius: 10px;
  padding: 0.5% 0 ;  
  transition: all .3s ease-out;
  animation: fadeInUp .3s ease-out forwards;
  border: 1px solid darkgray;
}

.head-option{
  width: 100%;
  padding: 2%;
  font-size: 16px;
  text-decoration: none;
  color: #000;
  transition: .3s ease all;
  margin-bottom: 100%;
}

.head-option:hover{
  cursor: pointer;
}


// profile css

.control-profile{
  display: flex;
  align-items: center;
  justify-content: space-around;  
  padding: 5% 0;
}

.show-box{
  width: 40%;
  border-radius: 5px;
  overflow: hidden;
  display: block;
}

.input-show{  
  margin-top: 5%;
  background-color: transparent;
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  border-bottom: solid 1px #525252;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}


// Category popup css

.category-popup{
  position: fixed;
  top: 8%;
  left: 10%;
  right: 0;
  bottom: 0;
  width: 80%;
  height: fit-content;
  background-color: rgb(239, 234, 234);
  color: black;
  border: 1px solid darkgray;
  border-radius: 10px;
  z-index: 9999;
  transition: all .3s ease-out;
  animation: fadeInUp .3s ease-out forwards;
}

@keyframes fadeInDown {
  from {transform: translateY(50px); opacity: 0;}
  to {opacity: 1; transform: translateY(0);}
}

.dropdown-content{
  padding: 2%;
  border-bottom: 1px solid darkgray;

}

.dropdown-content:hover{
  background-color: #00000030;
  transition: all .4s ease-out;
}

// All product css

.all-product{
  display: flex;
  flex-wrap: wrap;
}

.product-card{
  width: 25%;
  margin: 2% 1%;
  text-decoration: none;
  color: #000;
  background-color: #CACED6;
  box-shadow: 0 0 10px rgba(0,0,0,.4);
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  padding: 3% ;
  transition: all .3s ease-in-out;
}

.product-card:hover{
  box-shadow: 0 0 20px rgba(0,0,0,.7);
  transform: scale(1.05);
}

.product-img img{
  height: auto;

}

.product-img{
  background-color: #F8DAD0;
}

.product-infor{
  font-size: 1rem;
  line-height: 1.5em;
  margin-top: 10%;
}

.filter-product{
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  background: none;
  padding: 1%;
  margin-top: 1%;
  border-radius: 10px;
}

.filter-option{
  background-color: #fff;
}

.buy-now{
  position: relative;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  background-color: red;
}

// Cart CSS

.cart-card{
  width: 90%;
  height: 1%;
  display: flex;
  margin: 1% auto;
  text-decoration: none;
  background-color: #CACED6;
  color: #000;
  box-shadow: 0 0 10px rgba(0,0,0,.4);
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  padding: 2% ;
  transition: all .3s ease-in-out;
}

.cart-content{
  display: flex;
  width: 80%;
  justify-content: center;
}

.cart-product-img{
  background-color: #F8DAD0;
}

.cart-product-infor{
  width: 80%;
  font-size: 1rem;
  line-height: 1.5em;
  display: flex;
  margin: auto;
}

.infor{
  justify-content: center;
  width: 25%;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 5%;
}

.cart-pay{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 8%;
  display: flex;
  justify-content: space-around;
  padding: 2%;
  background-color: #CACED6;
  box-shadow: 0 0 10px rgba(0,0,0,.7), 0 10px
  10px rgba(0,0,0,.1);
}

.btn-sellect-all{
  padding: 1%;
  background-color: rgb(211, 205, 205);
  border: none;
  box-shadow: 0 0 9px rgba(0,0,0,.5), 0 0;
  border-radius: 10px;
  color: black;
  font-weight: bolder;
  cursor: pointer;
  text-align: center;
  outline: none;
  transition: all .3s ease-in-out;
}

.btn-sellect-all:hover{
  cursor: pointer;
  background-color: #CACED6;
  transform: scale(1.1);
}

.btn-change-value{
  padding: 5%;
  width: 30px;
  height: 30px;
  background-color: rgb(240, 235, 235);
  border: none;
  margin: 0 6%;
  color: black;
  border-radius: 5px;
  font-weight: bolder;
  cursor: pointer;
  text-align: center;
  outline: none;
  transition: all .3s ease-in-out;
}

.btn-change-value:hover{
  cursor: pointer;
  background-color: rgb(240, 191, 191);
  transform: scale(1.1);
}
